.navbar-top {
    background-color: #fff;
    box-shadow: 0 6px 24px rgba(17,17,10, 0.12);
    padding: 8px 20px;
    min-height: 56px;
}

.histo_form {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inline-block {
    display: inline-block;
}

.no-border-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.no-border-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.scrollable {
    overflow: scroll;
}

.no-decor {
    text-decoration: none;
}

.close:hover {
    color: #ee2455;
    background: none;
    transition: none;
}
