{% extends 'base.html' %}

{% block title %} File upload {% endblock %}


{% block content %}
<div id="upload_form">
    <h3 class="is-text-center is-inset-top-20">Upload your results to the database</h3>
    <p class="is-inset-top-20">Two input file formats are supported: <code class="is-outset-x-16"><b>*.json</b></code> and <code class="is-outset-x-16"><b>*.root</b></code></p>

    <form action="" enctype="multipart/form-data">
        <div class="form-item">
            <div id="uploader" class="upload" data-kube="upload" data-type="file" data-multiple="true"
                data-url="{{ url_for('upload.index') }}">
            </div>
            <div data-kube="upload-response">
                <pre id="upload-result" class="is-hidden">
                    
                </pre>
            </div>
        </div>
    </form>
</div>

<div id="vue-app">
    <div id="upload_result" class="is-hidden">
        <span id="dump" class="is-hidden"></span>
        <h3 class="is-text-center is-outset-y-40">Provide additional information about the uploaded histograms</h3>
        <histo-form v-for="histo in histos" v-bind:histo="histo" v-bind:form_data="form_data" v-bind:key="histo.idx"></histo-form>
    </div>
</div>
{% endblock %}



{% block js_pre %}
<script src="/static/addons/upload/kube.upload.js"></script>
<script src="/static/addons/datepicker/kube.datepicker.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/vue-tags-input.js"></script>
<script src="/static/templates/upload/index.js"></script>
{% endblock %}
