<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Kube CSS -->
    <link rel="stylesheet" href="/static/css/kube.css">
    <link rel="stylesheet" href="/static/addons/upload/kube.upload.css">
    <link rel="stylesheet" href="/static/addons/datepicker/kube.datepicker.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
     <div class="page">
        <header class="header">
            <div class="navbar-top is-navbar-container">
                <div class="is-brand">
                    <b class="is-logo">CMS Performance Monitor</b>
                </div>
                <div class="is-navbar">
                    <nav class="is-push-right">
                        <ul>
                            <li><a href="{{ url_for('main.index') }}">Main</a></li>
                            <li><a href="{{ url_for('upload.index') }}" class="button is-small">Upload</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main class="main is-inset-20">
        {% block content %}{% endblock %}
        </main>
        <footer class="footer">
        </footer>
    </div>


    <!-- Kube JS (optional if you are using Kube CSS only) -->
    <script src="/static/js/kube.js"></script>
    {% block js_pre %}{% endblock %}
    <script>
        KUBE_APP = $K.init({
            observer: true
        });
    </script>
</body>
</html>
